
<div class="card" *ngIf="is_editting">
    <div class="card-header">
        Author Form
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-10">
                <input type="search" class="form-control" autofocus placeholder="Type name here" [(ngModel)]="currentAuthor.name">
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-primary" (click)="save()">Save</button>
                <button class="btn btn-danger" (click)="is_editting = false">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="card" *ngIf="!is_editting">
    <div class="card-header">
        Filter
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="form-group col-md-10">
                <input type="search" class="form-control" autofocus placeholder="Filter by name here..." [(ngModel)]="name_filter">
            </div>
            <div class="form-group col-md-2">
                <button class="btn btn-primary" (click)="filter()">Filter</button>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>
            <button class="btn btn-success" (click)="is_editting = true">New Author</button>
        </th>
    </tr>
    <tr *ngFor="let author of authors">
        <td>{{author.id}}</td>
        <td>{{author.name}}</td>
        <td>
            <button class="btn btn-warning mr-2" (click)="edit(author)">Edit</button>
            <button class="btn btn-danger" (click)="delete(author)">Delete</button>
        </td>
    </tr>
</table>